.card {
  max-height: 25rem;
  max-width: 60rem;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  background-color: var(--ifm-color-primary-dark);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: color;
  pointer-events: none;
  opacity: 0.3;
  border-radius: var(--ifm-card-border-radius);
}

.overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--xef-gradient);
  pointer-events: none;
  opacity: 0.2;
  border-radius: var(--ifm-card-border-radius);
}

.landscapeMode {
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.landscapeMode:nth-child(even) {
  flex-direction: row-reverse;
}

.landscapeMode:nth-child(even) .body{
  padding: calc(4 * var(--ifm-spacing-horizontal)) calc(4 * var(--ifm-spacing-horizontal)) calc(4 * var(--ifm-spacing-horizontal)) 0;
}

.imageContainer {
  flex-basis: 48%;
  height: 40%;
}

.landscapeMode .imageContainer {
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--ifm-card-border-radius);
}

.body {
  flex-basis: 52%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landscapeMode .body {
  height: 100%;
  padding: calc(4 * var(--ifm-spacing-horizontal)) 0 calc(4 * var(--ifm-spacing-horizontal)) calc(4 * var(--ifm-spacing-horizontal));
}

@media (--xef-mobile-window) {
  .card {
    max-height: 100%;
    max-width: 100%;
  }

  .landscapeMode, .landscapeMode:nth-child(even) {
    flex-direction: column;
  }

  .landscapeMode .body, .landscapeMode:nth-child(even) .body{
    padding: calc(2 * var(--ifm-spacing-horizontal)) calc(1 * var(--ifm-spacing-horizontal)) calc(4 * var(--ifm-spacing-horizontal)) calc(1 * var(--ifm-spacing-horizontal));
  }
}

.title {
  font-size: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.subtitle {
  font-weight: 400;
  color: var(--xef-grey-primary);
}

.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.link::after {
  content: '';
  border: solid var(--ifm-link-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  margin-left: 8px;
  transition: margin-left var(--ifm-transition-fast);
}

.link:hover {
  text-decoration: none;
}

.link:hover.link::after {
  margin-left: 16px;
}
