.wrapperContainer {
  background: var(--xef-gradient);
}

.container {
  max-width: 700px;
  padding: calc(3 * var(--ifm-spacing-vertical)) 0;
  text-align: center;
}

.ctaList {
  display: flex;
  flex-direction: row;
  gap: var(--ifm-spacing-horizontal);
  justify-content: center;
  margin-top: calc(3 * var(--ifm-spacing-vertical));
}
